body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.subject {
    margin: 20px 0;
}

.dropdown-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.dropdown-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: #f9f9f9;
    padding-left: 20px;
}

.dropdown-container a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.active .dropdown-container {
    max-height: 500px; /* Atur tinggi maksimal sesuai kebutuhan */
    transition: max-height 0.3s ease-in;
}
/* Tombol Kembali */
.back-button {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #f1f1f1;
    color: #333;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.back-button:hover {
    background-color: #ddd;
    color: #000;
}